# App artifacts
/cms/_build
/cms/db
/cms/deps
/cms/*.ez

# Generated on crash by the VM
/cms/erl_crash.dump

# Files matching config/*.secret.exs pattern contain sensitive
# data and you should not commit them into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets files as long as you replace their contents by environment
# variables.
/cms/config/*.secret.exs
